.react-calendar-heatmap .color-scale-0 {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #faf089;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #f6e05e;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #ecc94b;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #d69e2e;
}
